* { box-sizing: border-box }

body {
  background-color: #ff00ff;
  color: #e0e0e0;
  text-shadow: 0px 1px #000, 1px 0px #000;
}

@font-face {
  font-family: 'Trigger-Bold';
  src: url('fonts/Trigger-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Trigger-Bold.woff') format('woff'), url('fonts/Trigger-Bold.ttf')  format('truetype'), url('fonts/Trigger-Bold.svg#Trigger-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trigger-Bold';
}

.chart {
  width: 75%;
  height: 100px;
  border-bottom: 1px dotted #e0e0e0;
  position: absolute;
  bottom: 2em;
}

.marker {
  position: absolute;
  bottom: 1em;
  border-radius: 5em;
  border: 1px solid #303030;
  background-color: #e0e0e0;
  min-width: 1em;
  min-height: 1em;
  /*bottom: auto;*/
}

.marker.tick {
  border-radius: inherit;
  border: none;
  background-color: inherit;
  min-width: inherit;
  min-height: inherit;
  bottom: -1.5em;
}

.marker:after {
  content: '';
  border-top: 0.4em solid #e0e0e0;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
  position: absolute;
  left: calc(50% - 0.4em);
  bottom: -0.5em;
}

.marker.tick:after {
  border-top: 0;
  border-bottom: 0.4em solid #e0e0e0;
  top: -0.5em;
  bottom: auto;
}

.marker .contents {
  padding: 0.4em;
  color: #e0e0e0;
}

.marker .icon {
  vertical-align: middle;
  border-radius: 36px;
}

.icon {
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image: url('achievements.png');
}

#current.marker {
  background-color: inherit;
  border: 0px;
  bottom: -1.3em;
}

#current.marker:after {
  content: none;
}

#current .icon {
  height: 28px;
  width: 34px;
  background-image: url('current.png');
  background-position-x: 0px;
  animation: fly .8s steps(2) infinite;
}

@keyframes fly {
    100% { background-position-x: -68px; }
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Achievement mappings */
/* achivement mappings */

.icon.yakra { background-position: calc(-1*72px) calc(-3*72px); }
.icon.dragon-tank { background-position: calc(-2*72px) calc(-3*72px); }
.icon.r-series { background-position: calc(-3*72px) calc(-3*72px); }
.icon.heckran { background-position: calc(-4*72px) calc(-3*72px); }
.icon.zombor { background-position: calc(0*72px) calc(-4*72px); }
.icon.masamune { background-position: calc(-1*72px) calc(-4*72px); }
.icon.nizbel { background-position: calc(-2*72px) calc(-4*72px); }
.icon.flea { background-position: calc(-3*72px) calc(-4*72px); }
.icon.slash { background-position: calc(-4*72px) calc(-4*72px); }
.icon.magus { background-position: calc(0*72px) calc(-5*72px); }
.icon.tyranno { background-position: calc(-1*72px) calc(-5*72px); }
.icon.giga-gaia { background-position: calc(-2*72px) calc(-5*72px); }
.icon.golem-twins { background-position: calc(-3*72px) calc(-5*72px); }
.icon.dalton-plus { background-position: calc(-4*72px) calc(-5*72px); }
.icon.shell { background-position: calc(-6*72px) calc(-3*72px); }
.icon.lavos { background-position: calc(-7*72px) calc(-3*72px); }
.icon.bad-end { background-position: calc(-11*72px) calc(-3*72px); }
.icon.beyond-time { background-position: calc(-12*72px) calc(-3*72px); }
.icon.reunion { background-position: calc(-13*72px) calc(-3*72px); }
.icon.dream-project { background-position: calc(-14*72px) calc(-3*72px); }
.icon.guardias-successor { background-position: calc(-10*72px) calc(-4*72px); }
.icon.good-night { background-position: calc(-11*72px) calc(-4*72px); }
.icon.legendary-hero { background-position: calc(-12*72px) calc(-4*72px); }
.icon.unknown-past { background-position: calc(-13*72px) calc(-4*72px); }
.icon.people-of-the-times { background-position: calc(-14*72px) calc(-4*72px); }
.icon.the-oath { background-position: calc(-10*72px) calc(-5*72px); }
.icon.dino-age { background-position: calc(-11*72px) calc(-5*72px); }
.icon.prophet-seeks { background-position: calc(-12*72px) calc(-5*72px); }
.icon.memory-lane { background-position: calc(-13*72px) calc(-5*72px); }
.icon.race-against-time { background-position: calc(-14*72px) calc(-5*72px); }
.icon.behind-the-curtain { background-position: calc(-1*72px) calc(-6*72px); }
.icon.technical-difficulties { background-position: calc(-2*72px) calc(-6*72px); }
.icon.night-night { background-position: calc(-3*72px) calc(-6*72px); }
.icon.transformer { background-position: calc(-4*72px) calc(-6*72px); }
.icon.name { background-position: calc(0*72px) calc(-7*72px); }
.icon.three-part { background-position: calc(-1*72px) calc(-7*72px); }
.icon.imgur { background-position: calc(-2*72px) calc(-7*72px); }
.icon.reddit { background-position: calc(-3*72px) calc(-7*72px); }
.icon.twitch { background-position: calc(-4*72px) calc(-7*72px); }
.icon.host { background-position: calc(0*72px) calc(-8*72px); }
.icon.open-mic { background-position: calc(-1*72px) calc(-8*72px); }
.icon.punderdome { background-position: calc(-2*72px) calc(-8*72px); }
.icon.beyond-punderdome { background-position: calc(-3*72px) calc(-8*72px); }
.icon.unplugged { background-position: calc(-4*72px) calc(-8*72px); }
.icon.nickscast { background-position: calc(-6*72px) calc(-6*72px); }
.icon.super-nickscast { background-position: calc(-7*72px) calc(-6*72px); }
.icon.inception { background-position: calc(-8*72px) calc(-6*72px); }
.icon.loneliest-number { background-position: calc(-9*72px) calc(-6*72px); }
.icon.skeleton-crew { background-position: calc(-5*72px) calc(-7*72px); }
.icon.achievement-unlocked { background-position: calc(-6*72px) calc(-7*72px); }
.icon.fan-art { background-position: calc(-7*72px) calc(-7*72px); }
.icon.ebony-and-ivory { background-position: calc(-8*72px) calc(-7*72px); }
.icon.full-house { background-position: calc(-9*72px) calc(-7*72px); }
.icon.no-nicks-allowed { background-position: calc(-5*72px) calc(-8*72px); }
.icon.inevitable-betrayal { background-position: calc(-1*72px) calc(-9*72px); }
.icon.unexpected-betrayal { background-position: calc(-2*72px) calc(-9*72px); }
.icon.glitch { background-position: calc(-3*72px) calc(-9*72px); }
.icon.s-rank { background-position: calc(-4*72px) calc(-9*72px); }
.icon.no-fear { background-position: calc(0*72px) calc(-10*72px); }
.icon.the-future-changed { background-position: calc(-6*72px) calc(-9*72px); }
.icon.party-1959 { background-position: calc(-7*72px) calc(-9*72px); }
.icon.over-9000 { background-position: calc(-8*72px) calc(-9*72px); }
.icon.progress { background-position: calc(-9*72px) calc(-9*72px); }
.icon.radical-dreamers { background-position: calc(-5*72px) calc(-10*72px); }
