* { box-sizing: border-box }

@font-face {
  font-family: 'Trigger-Bold';
  src: url('fonts/Trigger-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Trigger-Bold.woff') format('woff'), url('fonts/Trigger-Bold.ttf')  format('truetype'), url('fonts/Trigger-Bold.svg#Trigger-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trigger-Bold';
}

.chart {
  background: white;
  width: 75%;
  height: 100px;
  border-bottom: 1px dotted #555;
  position: relative;
}

.marker {
  position: absolute;
  bottom: 1em;
  border-radius: 5em;
  border: 1px solid #fff;
  background-color: #555;
  min-width: 1em;
  min-height: 1em;
  /*bottom: auto;*/
}

.marker.tick {
  border-radius: inherit;
  border: none;
  background-color: inherit;
  min-width: inherit;
  min-height: inherit;
  bottom: -1.5em;
}

.marker:after {
  content: '';
  border-top: 0.4em solid #555;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
  position: absolute;
  left: calc(50% - 0.4em);
  bottom: -0.5em;
}

.marker.tick:after {
  border-top: 0;
  border-bottom: 0.4em solid #555;
  top: -0.5em;
  bottom: auto;
}

.marker .contents {
  padding: 0.4em;
  color: #fff;
}

.marker .icon {
  vertical-align: middle;
  border-radius: 2em;
}

.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url('bosses.png');
}

.icon.yakra {
  background-position-x: 0px;
}

.icon.dragon-tank {
  background-position-x: -48px;
}

.icon.guardian {
  background-position-x: -96px;
}

.icon.r-series {
  background-position-x: -144px;
}

.icon.heckran {
  background-position-x: -192px;
}

.icon.zombor {
  background-position-x: -240px;
}

.icon.masamune {
  background-position-x: -288px;
}

.icon.nizbel {
  background-position-x: -336px;
}

.icon.magus {
  background-position-x: -384px;
}

.icon.tyranno {
  background-position-x: -432px;
}

.icon.golem {
  background-position-x: -480px;
}

.icon.beast {
  background-position-x: -528px;
}

.icon.giga-gaia {
  background-position-x: -576px;
}

.icon.dalton {
  background-position-x: -624px;
}

.icon.golem-twins {
  background-position-x: -672px;
}

.icon.lavos {
  background-position-x: -720px;
}

.icon.dalton-plus {
  background-position-x: -768px;
}

.icon.lavos-final {
  background-position-x: -816px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
