/*
TODO:
- Animate
- Deal with stacking
- Add rounded corners
- Scaling
- Use flexbox
*/

@font-face {
  font-family: 'Trigger-Bold';
  src: url('fonts/Trigger-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Trigger-Bold.woff') format('woff'), url('fonts/Trigger-Bold.ttf')  format('truetype'), url('fonts/Trigger-Bold.svg#Trigger-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.gradient {
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.achievement {
  font-family: 'Trigger-Bold';

  width: 240px;
  height: 94px;

  position: absolute;
  bottom: 0px;
  right: 0px;

  border-style: solid;
  border-width: 8px;
  -moz-border-image: url(default.png) 8 repeat;
  -webkit-border-image: url(default.png) 8 repeat;
  -o-border-image: url(default.png) 8 repeat;
  border-image: url(default.png) 8 fill repeat;
}

.achievement .name {
  color: #f8f800;
}

.achievement .description {
  color: #e0e0e0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles */
/* TODO: Add different window borders */


/* Pop-up animation */

/* Technique from here: https://weblog.west-wind.com/posts/2014/Feb/22/Using-CSS-Transitions-to-SlideUp-and-SlideDown */
.achievement.show, .achievement.hide {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

.achievement.show {
  max-height: 94px;
}
