<html>
  <head>
    <link href='party.css' rel='stylesheet' type='text/css' />
    <title>Party Widget</title>
  </head>
  <body>
    <div id='party' class='party'></div>
    <script type='text/template' id='template-player'>
      <div class='player container <% if (!data.active) { %>inactive <%} %><% if (data.animate) { %>animate <%} %>' id='<%= data.id %>'>
        <div class='border layer'></div>
        <div class='gradient layer'></div>
        <div class='content layer'>
          <div class='column'>
            <div class='name'><%= data.name %></div>
            <div class='contact'><%= data.contact %></div>
            <!--div class='contact'><%= data.contact %></div-->
            <div class='playtime' data-playtime="<%= data.playtime %>"><%= msToTime(data.playtime) %></div>
          </div>
          <div class='icon <%= data.character %> <%= data.status %>'></div>
        </div>
      </div>
    </script>
    <script src='lodash.js'></script>
    <script src='party.js'></script>
  </body>
</html>
